In [1]:
import pandas as pd
import numpy as np

In [2]:
df_open = pd.read_csv('openrest.csv')

In [3]:
df_open.head()

,Unnamed: 0,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price,permanently closed,outdoor_seating
0,0,LWHHNai3yu6ovrf4Bcepjg,birria-landia-williamsburg-brooklyn,Birria Landia Williamsburg,https://s3-media4.fl.yelpcdn.com/bphoto/9d2Uad...,False,https://www.yelp.com/biz/birria-landia-william...,5,"[{'alias': 'foodtrucks', 'title': 'Food Trucks...",5.0,"{'latitude': 40.7141949, 'longitude': -73.9520...",[],"{'address1': '495 Metropolian Ave', 'address2'...",NaN,NaN,3007.098386,NaN,0,0
1,1,ETgJqJHV7BW6pIr9Ox74sA,amélie-new-york,Amélie,https://s3-media4.fl.yelpcdn.com/bphoto/cSDgVu...,False,https://www.yelp.com/biz/am%C3%A9lie-new-york?...,2688,"[{'alias': 'french', 'title': 'French'}, {'ali...",4.5,"{'latitude': 40.7327, 'longitude': -73.99766}","['restaurant_reservation', 'delivery', 'pickup']","{'address1': '22 W 8th St', 'address2': '', 'a...",1.212533e+10,(212) 533-2962,4304.679901,$$,0,1
2,2,B3_K2kUVbYOU0VaLcj_LTw,thai-villa-new-york-2,Thai Villa,https://s3-media1.fl.yelpcdn.com/bphoto/oELHjg...,False,https://www.yelp.com/biz/thai-villa-new-york-2...,3452,"[{'alias': 'thai', 'title': 'Thai'}, {'alias':...",4.5,"{'latitude': 40.73902, 'longitude': -73.99065}","['delivery', 'pickup']","{'address1': '5 E 19th St', 'address2': 'G Flo...",1.212803e+10,(212) 802-9999,4817.357203,$$,0,1
3,3,Ms3CAGddVbgetiQrpzqxPQ,hometown-bar-b-que-brooklyn-3,Hometown Bar-B-Que,https://s3-media3.fl.yelpcdn.com/bphoto/a5YpbH...,False,https://www.yelp.com/biz/hometown-bar-b-que-br...,1400,"[{'alias': 'bbq', 'title': 'Barbeque'}, {'alia...",4.0,"{'latitude': 40.67486, 'longitude': -74.01602}","['delivery', 'pickup']","{'address1': '454 Van Brunt St', 'address2': '...",1.347294e+10,(347) 294-4644,3938.870481,$$,0,1
4,4,0CjK3esfpFcxIopebzjFxA,joes-shanghai-new-york-2,Joe's Shanghai,https://s3-media4.fl.yelpcdn.com/bphoto/KRvabB...,False,https://www.yelp.com/biz/joes-shanghai-new-yor...,6223,"[{'alias': 'shanghainese', 'title': 'Shanghain...",4.0,"{'latitude': 40.7156608, 'longitude': -73.9967...","['delivery', 'pickup']","{'address1': '46 Bowery St', 'address2': '', '...",1.212234e+10,(212) 233-8888,2585.986791,$$,0,0

In [4]:
df_open.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 19 columns):
Unnamed: 0            2500 non-null int64
id                    2500 non-null object
alias                 2500 non-null object
name                  2500 non-null object
image_url             2500 non-null object
is_closed             2500 non-null bool
url                   2500 non-null object
review_count          2500 non-null int64
categories            2500 non-null object
rating                2500 non-null float64
coordinates           2500 non-null object
transactions          2500 non-null object
location              2500 non-null object
phone                 2350 non-null float64
display_phone         2350 non-null object
distance              2500 non-null float64
price                 2050 non-null object
permanently closed    2500 non-null int64
outdoor_seating       2500 non-null int64
dtypes: bool(1), float64(3), int64(4), object(11)
memory usage: 354.1+ KB

In [5]:
df_closed = pd.read_csv('closed.csv')

In [6]:
df_closed.head()

,Unnamed: 0,alias,categories,coordinates,display_phone,distance,id,image_url,is_closed,location,name,phone,price,rating,review_count,transactions,url,permanently closed,outdoor_seating
0,0,the-well-brooklyn,"[{'alias': 'beergardens', 'title': 'Beer Garde...","{'latitude': 40.7084722, 'longitude': -73.9378...",(347) 338-3612,3725.672741,T45to25cNUZFBHCb-rlTKA,https://s3-media4.fl.yelpcdn.com/bphoto/2xiicd...,True,"{'address1': '272 Meserole St', 'address2': ''...",The Well,1.347338e+10,$$,3.5,151,[],https://www.yelp.com/biz/the-well-brooklyn?adj...,1,0
1,0,trophy-bar-brooklyn,"[{'alias': 'cocktailbars', 'title': 'Cocktail ...","{'latitude': 40.707908, 'longitude': -73.95565}",(347) 227-8515,2350.971066,_OdmajwtXXQwz-RhFUUxFw,https://s3-media2.fl.yelpcdn.com/bphoto/x-c5ZX...,True,"{'address1': '351 Broadway', 'address2': '', '...",Trophy Bar,1.347228e+10,$,4.0,202,"['pickup', 'delivery']",https://www.yelp.com/biz/trophy-bar-brooklyn?a...,1,0
2,0,samesa-brooklyn,"[{'alias': 'eventplanning', 'title': 'Party & ...","{'latitude': 40.7116966247559, 'longitude': -7...",(718) 599-1154,3038.765837,VKAK_q8S0qVar0Aq9JoV_g,https://s3-media2.fl.yelpcdn.com/bphoto/XJ5jFq...,True,"{'address1': '495 Lorimer St', 'address2': '',...",Samesa,1.718599e+10,$$,4.0,86,"['delivery', 'pickup']",https://www.yelp.com/biz/samesa-brooklyn?adjus...,1,0
3,0,pearls-brooklyn,"[{'alias': 'caribbean', 'title': 'Caribbean'},...","{'latitude': 40.7180814, 'longitude': -73.956634}",NaN,3055.662062,lfu3eDxix7MHqxjh8gbJLA,https://s3-media1.fl.yelpcdn.com/bphoto/aUDapg...,True,"{'address1': '178 N 8th St', 'address2': '', '...",Pearl's,NaN,$$,4.0,530,"['pickup', 'delivery']",https://www.yelp.com/biz/pearls-brooklyn?adjus...,1,0
4,0,maison-premiere-brooklyn,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 40.7142399, 'longitude': -73.9616}",(347) 335-0446,2461.162075,O4rYM6YBj90W2u7RhG3Mvg,https://s3-media3.fl.yelpcdn.com/bphoto/sYBR9f...,False,"{'address1': '298 Bedford Ave', 'address2': ''...",Maison Premiere,1.347335e+10,$$$,4.0,1139,"['delivery', 'pickup']",https://www.yelp.com/biz/maison-premiere-brook...,1,0

In [7]:
df_closed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 19 columns):
Unnamed: 0            190 non-null int64
alias                 190 non-null object
categories            190 non-null object
coordinates           190 non-null object
display_phone         171 non-null object
distance              190 non-null float64
id                    190 non-null object
image_url             190 non-null object
is_closed             190 non-null bool
location              190 non-null object
name                  190 non-null object
phone                 171 non-null float64
price                 176 non-null object
rating                190 non-null float64
review_count          190 non-null int64
transactions          190 non-null object
url                   190 non-null object
permanently closed    190 non-null int64
outdoor_seating       190 non-null int64
dtypes: bool(1), float64(3), int64(4), object(11)
memory usage: 27.0+ KB

## Cleaning price column 
#### converting dollar sign to categorical numeric variable

In [8]:
df_open['price'].value_counts()

$$      1750
$$$      250
$$$$      50
Name: price, dtype: int64

In [9]:
df_open.isna().sum()

Unnamed: 0              0
id                      0
alias                   0
name                    0
image_url               0
is_closed               0
url                     0
review_count            0
categories              0
rating                  0
coordinates             0
transactions            0
location                0
phone                 150
display_phone         150
distance                0
price                 450
permanently closed      0
outdoor_seating         0
dtype: int64

In [10]:
cond = [df_open['price'] == '$$',
        df_open['price'] == '$$$',
        df_open['price'] == '$$$$'
       ]
choice = ['two','three','four']
df_open['price_cat'] = np.select(cond, choice,default='missing')
df_open.head()

,Unnamed: 0,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price,permanently closed,outdoor_seating,price_cat
0,0,LWHHNai3yu6ovrf4Bcepjg,birria-landia-williamsburg-brooklyn,Birria Landia Williamsburg,https://s3-media4.fl.yelpcdn.com/bphoto/9d2Uad...,False,https://www.yelp.com/biz/birria-landia-william...,5,"[{'alias': 'foodtrucks', 'title': 'Food Trucks...",5.0,"{'latitude': 40.7141949, 'longitude': -73.9520...",[],"{'address1': '495 Metropolian Ave', 'address2'...",NaN,NaN,3007.098386,NaN,0,0,missing
1,1,ETgJqJHV7BW6pIr9Ox74sA,amélie-new-york,Amélie,https://s3-media4.fl.yelpcdn.com/bphoto/cSDgVu...,False,https://www.yelp.com/biz/am%C3%A9lie-new-york?...,2688,"[{'alias': 'french', 'title': 'French'}, {'ali...",4.5,"{'latitude': 40.7327, 'longitude': -73.99766}","['restaurant_reservation', 'delivery', 'pickup']","{'address1': '22 W 8th St', 'address2': '', 'a...",1.212533e+10,(212) 533-2962,4304.679901,$$,0,1,two
2,2,B3_K2kUVbYOU0VaLcj_LTw,thai-villa-new-york-2,Thai Villa,https://s3-media1.fl.yelpcdn.com/bphoto/oELHjg...,False,https://www.yelp.com/biz/thai-villa-new-york-2...,3452,"[{'alias': 'thai', 'title': 'Thai'}, {'alias':...",4.5,"{'latitude': 40.73902, 'longitude': -73.99065}","['delivery', 'pickup']","{'address1': '5 E 19th St', 'address2': 'G Flo...",1.212803e+10,(212) 802-9999,4817.357203,$$,0,1,two
3,3,Ms3CAGddVbgetiQrpzqxPQ,hometown-bar-b-que-brooklyn-3,Hometown Bar-B-Que,https://s3-media3.fl.yelpcdn.com/bphoto/a5YpbH...,False,https://www.yelp.com/biz/hometown-bar-b-que-br...,1400,"[{'alias': 'bbq', 'title': 'Barbeque'}, {'alia...",4.0,"{'latitude': 40.67486, 'longitude': -74.01602}","['delivery', 'pickup']","{'address1': '454 Van Brunt St', 'address2': '...",1.347294e+10,(347) 294-4644,3938.870481,$$,0,1,two
4,4,0CjK3esfpFcxIopebzjFxA,joes-shanghai-new-york-2,Joe's Shanghai,https://s3-media4.fl.yelpcdn.com/bphoto/KRvabB...,False,https://www.yelp.com/biz/joes-shanghai-new-yor...,6223,"[{'alias': 'shanghainese', 'title': 'Shanghain...",4.0,"{'latitude': 40.7156608, 'longitude': -73.9967...","['delivery', 'pickup']","{'address1': '46 Bowery St', 'address2': '', '...",1.212234e+10,(212) 233-8888,2585.986791,$$,0,0,two

In [11]:
df_open['price_cat'].value_counts()

two        1750
missing     450
three       250
four         50
Name: price_cat, dtype: int64

In [ ]:
# df_open2 = pd.get_dummies(data = df_open['price'])

## Breaking out transactions column

In [12]:
import ast

In [13]:
df_open['transactions'] = df_open['transactions'].map(lambda x: ast.literal_eval(x))

In [17]:
df_open['transactions'][1]

['restaurant_reservation', 'delivery', 'pickup']

In [18]:
df_open['delivery'] = df_open['transactions'].apply(lambda x: 1 if 'delivery' in x else 0)
df_open['restaurant_reservation'] = df_open['transactions'].apply(lambda x: 1 if 'restaurant_reservation' in x else 0)
df_open['pickup'] = df_open['transactions'].apply(lambda x: 1 if 'pickup' in x else 0)

In [20]:
df_open.head(5)

,Unnamed: 0,id,alias,name,image_url,is_closed,url,review_count,categories,rating,...,phone,display_phone,distance,price,permanently closed,outdoor_seating,price_cat,delivery,restaurant_reservation,pickup
0,0,LWHHNai3yu6ovrf4Bcepjg,birria-landia-williamsburg-brooklyn,Birria Landia Williamsburg,https://s3-media4.fl.yelpcdn.com/bphoto/9d2Uad...,False,https://www.yelp.com/biz/birria-landia-william...,5,"[{'alias': 'foodtrucks', 'title': 'Food Trucks...",5.0,...,NaN,NaN,3007.098386,NaN,0,0,missing,0,0,0
1,1,ETgJqJHV7BW6pIr9Ox74sA,amélie-new-york,Amélie,https://s3-media4.fl.yelpcdn.com/bphoto/cSDgVu...,False,https://www.yelp.com/biz/am%C3%A9lie-new-york?...,2688,"[{'alias': 'french', 'title': 'French'}, {'ali...",4.5,...,1.212533e+10,(212) 533-2962,4304.679901,$$,0,1,two,1,1,1
2,2,B3_K2kUVbYOU0VaLcj_LTw,thai-villa-new-york-2,Thai Villa,https://s3-media1.fl.yelpcdn.com/bphoto/oELHjg...,False,https://www.yelp.com/biz/thai-villa-new-york-2...,3452,"[{'alias': 'thai', 'title': 'Thai'}, {'alias':...",4.5,...,1.212803e+10,(212) 802-9999,4817.357203,$$,0,1,two,1,0,1
3,3,Ms3CAGddVbgetiQrpzqxPQ,hometown-bar-b-que-brooklyn-3,Hometown Bar-B-Que,https://s3-media3.fl.yelpcdn.com/bphoto/a5YpbH...,False,https://www.yelp.com/biz/hometown-bar-b-que-br...,1400,"[{'alias': 'bbq', 'title': 'Barbeque'}, {'alia...",4.0,...,1.347294e+10,(347) 294-4644,3938.870481,$$,0,1,two,1,0,1
4,4,0CjK3esfpFcxIopebzjFxA,joes-shanghai-new-york-2,Joe's Shanghai,https://s3-media4.fl.yelpcdn.com/bphoto/KRvabB...,False,https://www.yelp.com/biz/joes-shanghai-new-yor...,6223,"[{'alias': 'shanghainese', 'title': 'Shanghain...",4.0,...,1.212234e+10,(212) 233-8888,2585.986791,$$,0,0,two,1,0,1

In [16]:
df_open['delivery'].value_counts()

1    1850
0     650
Name: delivery, dtype: int64

In [21]:
df_open['restaurant_reservation'].value_counts()

0    2050
1     450
Name: restaurant_reservation, dtype: int64

In [22]:
df_open['pickup'].value_counts()

1    1800
0     700
Name: pickup, dtype: int64

## Cleaning Price and transactions in closed df

In [25]:
df_closed.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 19 columns):
Unnamed: 0            190 non-null int64
alias                 190 non-null object
categories            190 non-null object
coordinates           190 non-null object
display_phone         171 non-null object
distance              190 non-null float64
id                    190 non-null object
image_url             190 non-null object
is_closed             190 non-null bool
location              190 non-null object
name                  190 non-null object
phone                 171 non-null float64
price                 176 non-null object
rating                190 non-null float64
review_count          190 non-null int64
transactions          190 non-null object
url                   190 non-null object
permanently closed    190 non-null int64
outdoor_seating       190 non-null int64
dtypes: bool(1), float64(3), int64(4), object(11)
memory usage: 27.0+ KB

In [26]:
df_closed.head()

,Unnamed: 0,alias,categories,coordinates,display_phone,distance,id,image_url,is_closed,location,name,phone,price,rating,review_count,transactions,url,permanently closed,outdoor_seating
0,0,the-well-brooklyn,"[{'alias': 'beergardens', 'title': 'Beer Garde...","{'latitude': 40.7084722, 'longitude': -73.9378...",(347) 338-3612,3725.672741,T45to25cNUZFBHCb-rlTKA,https://s3-media4.fl.yelpcdn.com/bphoto/2xiicd...,True,"{'address1': '272 Meserole St', 'address2': ''...",The Well,1.347338e+10,$$,3.5,151,[],https://www.yelp.com/biz/the-well-brooklyn?adj...,1,0
1,0,trophy-bar-brooklyn,"[{'alias': 'cocktailbars', 'title': 'Cocktail ...","{'latitude': 40.707908, 'longitude': -73.95565}",(347) 227-8515,2350.971066,_OdmajwtXXQwz-RhFUUxFw,https://s3-media2.fl.yelpcdn.com/bphoto/x-c5ZX...,True,"{'address1': '351 Broadway', 'address2': '', '...",Trophy Bar,1.347228e+10,$,4.0,202,"['pickup', 'delivery']",https://www.yelp.com/biz/trophy-bar-brooklyn?a...,1,0
2,0,samesa-brooklyn,"[{'alias': 'eventplanning', 'title': 'Party & ...","{'latitude': 40.7116966247559, 'longitude': -7...",(718) 599-1154,3038.765837,VKAK_q8S0qVar0Aq9JoV_g,https://s3-media2.fl.yelpcdn.com/bphoto/XJ5jFq...,True,"{'address1': '495 Lorimer St', 'address2': '',...",Samesa,1.718599e+10,$$,4.0,86,"['delivery', 'pickup']",https://www.yelp.com/biz/samesa-brooklyn?adjus...,1,0
3,0,pearls-brooklyn,"[{'alias': 'caribbean', 'title': 'Caribbean'},...","{'latitude': 40.7180814, 'longitude': -73.956634}",NaN,3055.662062,lfu3eDxix7MHqxjh8gbJLA,https://s3-media1.fl.yelpcdn.com/bphoto/aUDapg...,True,"{'address1': '178 N 8th St', 'address2': '', '...",Pearl's,NaN,$$,4.0,530,"['pickup', 'delivery']",https://www.yelp.com/biz/pearls-brooklyn?adjus...,1,0
4,0,maison-premiere-brooklyn,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 40.7142399, 'longitude': -73.9616}",(347) 335-0446,2461.162075,O4rYM6YBj90W2u7RhG3Mvg,https://s3-media3.fl.yelpcdn.com/bphoto/sYBR9f...,False,"{'address1': '298 Bedford Ave', 'address2': ''...",Maison Premiere,1.347335e+10,$$$,4.0,1139,"['delivery', 'pickup']",https://www.yelp.com/biz/maison-premiere-brook...,1,0

In [27]:
df_closed.isna().sum()

Unnamed: 0             0
alias                  0
categories             0
coordinates            0
display_phone         19
distance               0
id                     0
image_url              0
is_closed              0
location               0
name                   0
phone                 19
price                 14
rating                 0
review_count           0
transactions           0
url                    0
permanently closed     0
outdoor_seating        0
dtype: int64

In [28]:
df_closed['price'].value_counts()

$$      126
$        24
$$$      23
$$$$      3
Name: price, dtype: int64

In [30]:
cond = [df_closed['price'] == '$',
        df_closed['price'] == '$$',
        df_closed['price'] == '$$$',
        df_closed['price'] == '$$$$'
       ]
choice = ['one','two','three','four']
df_closed['price_cat'] = np.select(cond, choice,default='missing')
df_closed.head()

,Unnamed: 0,alias,categories,coordinates,display_phone,distance,id,image_url,is_closed,location,name,phone,price,rating,review_count,transactions,url,permanently closed,outdoor_seating,price_cat
0,0,the-well-brooklyn,"[{'alias': 'beergardens', 'title': 'Beer Garde...","{'latitude': 40.7084722, 'longitude': -73.9378...",(347) 338-3612,3725.672741,T45to25cNUZFBHCb-rlTKA,https://s3-media4.fl.yelpcdn.com/bphoto/2xiicd...,True,"{'address1': '272 Meserole St', 'address2': ''...",The Well,1.347338e+10,$$,3.5,151,[],https://www.yelp.com/biz/the-well-brooklyn?adj...,1,0,two
1,0,trophy-bar-brooklyn,"[{'alias': 'cocktailbars', 'title': 'Cocktail ...","{'latitude': 40.707908, 'longitude': -73.95565}",(347) 227-8515,2350.971066,_OdmajwtXXQwz-RhFUUxFw,https://s3-media2.fl.yelpcdn.com/bphoto/x-c5ZX...,True,"{'address1': '351 Broadway', 'address2': '', '...",Trophy Bar,1.347228e+10,$,4.0,202,"['pickup', 'delivery']",https://www.yelp.com/biz/trophy-bar-brooklyn?a...,1,0,one
2,0,samesa-brooklyn,"[{'alias': 'eventplanning', 'title': 'Party & ...","{'latitude': 40.7116966247559, 'longitude': -7...",(718) 599-1154,3038.765837,VKAK_q8S0qVar0Aq9JoV_g,https://s3-media2.fl.yelpcdn.com/bphoto/XJ5jFq...,True,"{'address1': '495 Lorimer St', 'address2': '',...",Samesa,1.718599e+10,$$,4.0,86,"['delivery', 'pickup']",https://www.yelp.com/biz/samesa-brooklyn?adjus...,1,0,two
3,0,pearls-brooklyn,"[{'alias': 'caribbean', 'title': 'Caribbean'},...","{'latitude': 40.7180814, 'longitude': -73.956634}",NaN,3055.662062,lfu3eDxix7MHqxjh8gbJLA,https://s3-media1.fl.yelpcdn.com/bphoto/aUDapg...,True,"{'address1': '178 N 8th St', 'address2': '', '...",Pearl's,NaN,$$,4.0,530,"['pickup', 'delivery']",https://www.yelp.com/biz/pearls-brooklyn?adjus...,1,0,two
4,0,maison-premiere-brooklyn,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 40.7142399, 'longitude': -73.9616}",(347) 335-0446,2461.162075,O4rYM6YBj90W2u7RhG3Mvg,https://s3-media3.fl.yelpcdn.com/bphoto/sYBR9f...,False,"{'address1': '298 Bedford Ave', 'address2': ''...",Maison Premiere,1.347335e+10,$$$,4.0,1139,"['delivery', 'pickup']",https://www.yelp.com/biz/maison-premiere-brook...,1,0,three

In [31]:
df_closed['price_cat'].value_counts()

two        126
one         24
three       23
missing     14
four         3
Name: price_cat, dtype: int64

In [32]:
df_closed['transactions'] = df_closed['transactions'].map(lambda x: ast.literal_eval(x))

In [33]:
df_closed['delivery'] = df_closed['transactions'].apply(lambda x: 1 if 'delivery' in x else 0)
df_closed['restaurant_reservation'] = df_closed['transactions'].apply(lambda x: 1 if 'restaurant_reservation' in x else 0)
df_closed['pickup'] = df_closed['transactions'].apply(lambda x: 1 if 'pickup' in x else 0)

In [35]:
print(df_closed['delivery'].value_counts())
print(df_closed['restaurant_reservation'].value_counts())
print(df_closed['pickup'].value_counts())

1    96
0    94
Name: delivery, dtype: int64
0    186
1      4
Name: restaurant_reservation, dtype: int64
1    98
0    92
Name: pickup, dtype: int64

## Pull out zip from the location column

In [52]:
df_open['location'] = df_open['location'].map(lambda x: ast.literal_eval(x))

In [53]:
df_open['location']

0       {'address1': '495 Metropolian Ave', 'address2'...
1       {'address1': '22 W 8th St', 'address2': '', 'a...
2       {'address1': '5 E 19th St', 'address2': 'G Flo...
3       {'address1': '454 Van Brunt St', 'address2': '...
4       {'address1': '46 Bowery St', 'address2': '', '...
                              ...
2495    {'address1': '375 S End Ave', 'address2': '', ...
2496    {'address1': '239 5th Ave', 'address2': '', 'a...
2497    {'address1': '132 West 47th St', 'address2': N...
2498    {'address1': '171 Spring St', 'address2': '', ...
2499    {'address1': '233 West St', 'address2': '', 'a...
Name: location, Length: 2500, dtype: object

In [54]:
df_open['location'][0]

{'address1': '495 Metropolian Ave',
 'address2': '',
 'address3': None,
 'city': 'Brooklyn',
 'zip_code': '11211',
 'country': 'US',
 'state': 'NY',
 'display_address': ['495 Metropolian Ave', 'Brooklyn, NY 11211']}

In [55]:
df_open['location'][0]['zip_code']

'11211'

In [57]:
df_open['zip_code'] = df_open['location'].apply(lambda x: x['zip_code'])

#### Repeating for closed df

In [59]:
df_closed['location'] = df_closed['location'].map(lambda x: ast.literal_eval(x))

In [60]:
df_closed['zip_code'] = df_closed['location'].apply(lambda x: x['zip_code'])

## Pulling out lat and long

In [63]:
df_open['coordinates'] = df_open['coordinates'].map(lambda x: ast.literal_eval(x))

In [64]:
df_open['coordinates']

0       {'latitude': 40.7141949, 'longitude': -73.9520...
1           {'latitude': 40.7327, 'longitude': -73.99766}
2          {'latitude': 40.73902, 'longitude': -73.99065}
3          {'latitude': 40.67486, 'longitude': -74.01602}
4       {'latitude': 40.7156608, 'longitude': -73.9967...
                              ...
2495    {'latitude': 40.7112882252543, 'longitude': -7...
2496       {'latitude': 40.67519, 'longitude': -73.98116}
2497     {'latitude': 40.758417, 'longitude': -73.983301}
2498    {'latitude': 40.724912, 'longitude': -74.0021299}
2499    {'latitude': 40.7205582, 'longitude': -74.0118...
Name: coordinates, Length: 2500, dtype: object

In [67]:
df_open['latitude'] = df_open['coordinates'].map(lambda x: x['latitude'])
df_open['longitude'] = df_open['coordinates'].map(lambda x: x['longitude'])

In [68]:
df_closed['coordinates'] = df_closed['coordinates'].map(lambda x: ast.literal_eval(x))

In [69]:
df_closed['latitude'] = df_closed['coordinates'].map(lambda x: x['latitude'])
df_closed['longitude'] = df_closed['coordinates'].map(lambda x: x['longitude'])