In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('pop density by zip ny.xlsx')

In [3]:
df

      Rank Population Density  Zip / Population
0        1     146,955.3/sq mi   10028 / 46,169
1        2     132,677.4/sq mi   10128 / 62,447
2        3     132,095.7/sq mi   10075 / 24,377
3        4     129,548.9/sq mi   10025 / 97,373
4        5     123,875.9/sq mi   10023 / 60,762
...    ...                 ...              ...
1766  1767           0.9/sq mi      12855 / 172
1767  1768           0.9/sq mi      12139 / 226
1768  1769           0.9/sq mi      12847 / 418
1769  1770           0.8/sq mi       12922 / 36
1770  1771           0.2/sq mi       13353 / 31

[1771 rows x 3 columns]

In [4]:
df['Population Density ']

0       146,955.3/sq mi
1       132,677.4/sq mi
2       132,095.7/sq mi
3       129,548.9/sq mi
4       123,875.9/sq mi
             ...
1766          0.9/sq mi
1767          0.9/sq mi
1768          0.9/sq mi
1769          0.8/sq mi
1770          0.2/sq mi
Name: Population Density , Length: 1771, dtype: object

In [5]:
df['Zip / Population']

0       10028 / 46,169
1       10128 / 62,447
2       10075 / 24,377
3       10025 / 97,373
4       10023 / 60,762
             ...
1766       12855 / 172
1767       12139 / 226
1768       12847 / 418
1769        12922 / 36
1770        13353 / 31
Name: Zip / Population, Length: 1771, dtype: object

In [6]:
df.rename(columns={'Population Density ':'Population Density'}, inplace=True)

In [7]:
df['Population Density'][0].split("/")

['146,955.3', 'sq mi']

In [8]:
df['Population Density'] = df['Population Density'].map(lambda x: x.split("/"))

In [9]:
df['Pop_density'] = df['Population Density'].map(lambda x: x[0])

In [10]:
df['Pop_density']

0       146,955.3
1       132,677.4
2       132,095.7
3       129,548.9
4       123,875.9
          ...
1766          0.9
1767          0.9
1768          0.9
1769          0.8
1770          0.2
Name: Pop_density, Length: 1771, dtype: object

In [11]:
df['Zip / Population'] = df['Zip / Population'].map(lambda x: x.split("/"))

In [12]:
df['zip_code'] = df['Zip / Population'].map(lambda x: x[0])

In [13]:
df['zip_code'][0].replace(u'\xa0', u'')

'10028'

In [14]:
df['zip_code'] = df['zip_code'].map(lambda x: x.replace(u'\xa0', u''))

In [15]:
df.head()

   Rank  Population Density   Zip / Population Pop_density zip_code
0     1  [146,955.3, sq mi]  [10028 ,  46,169]   146,955.3    10028
1     2  [132,677.4, sq mi]  [10128 ,  62,447]   132,677.4    10128
2     3  [132,095.7, sq mi]  [10075 ,  24,377]   132,095.7    10075
3     4  [129,548.9, sq mi]  [10025 ,  97,373]   129,548.9    10025
4     5  [123,875.9, sq mi]  [10023 ,  60,762]   123,875.9    10023

In [19]:
df['Pop_density'] = df['Pop_density'].map(lambda x: x.replace(',',''))

In [20]:
df['Pop_density']

0       146955.3
1       132677.4
2       132095.7
3       129548.9
4       123875.9
          ...
1766         0.9
1767         0.9
1768         0.9
1769         0.8
1770         0.2
Name: Pop_density, Length: 1771, dtype: object

In [22]:
df.astype({'Pop_density': 'float64'})

      Rank  Population Density   Zip / Population  Pop_density zip_code
0        1  [146,955.3, sq mi]  [10028 ,  46,169]     146955.3    10028
1        2  [132,677.4, sq mi]  [10128 ,  62,447]     132677.4    10128
2        3  [132,095.7, sq mi]  [10075 ,  24,377]     132095.7    10075
3        4  [129,548.9, sq mi]  [10025 ,  97,373]     129548.9    10025
4        5  [123,875.9, sq mi]  [10023 ,  60,762]     123875.9    10023
...    ...                 ...                ...          ...      ...
1766  1767        [0.9, sq mi]     [12855 ,  172]          0.9    12855
1767  1768        [0.9, sq mi]     [12139 ,  226]          0.9    12139
1768  1769        [0.9, sq mi]     [12847 ,  418]          0.9    12847
1769  1770        [0.8, sq mi]      [12922 ,  36]          0.8    12922
1770  1771        [0.2, sq mi]      [13353 ,  31]          0.2    13353

[1771 rows x 5 columns]

In [23]:
df.columns

Index(['Rank', 'Population Density', 'Zip / Population', 'Pop_density',
       'zip_code'],
      dtype='object')

In [24]:
df_pop_density = df[['Pop_density','zip_code']]

In [25]:
df_pop_density

     Pop_density zip_code
0       146955.3    10028
1       132677.4    10128
2       132095.7    10075
3       129548.9    10025
4       123875.9    10023
...          ...      ...
1766         0.9    12855
1767         0.9    12139
1768         0.9    12847
1769         0.8    12922
1770         0.2    13353

[1771 rows x 2 columns]